HELP.md

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.png
*.jpg

build
### VS Code ###
.vscode/

#-------------------------
# Composer
#-------------------------
vendor/
composer.lock
LICENSE
writable/session/**
writable/debugbar/**
writable/uploads/**
writable/logs/**