footer{
    background-color: #427aa1;
    color: white;
    border: 1px solid;
    position: absolute;
    bottom: 0;
    width: 100vw;
    min-height: 2em;
}

.footer-website-name{
    text-align: center;
}

.footer-map ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

